@import url("./sidebar.css");
@import url("./content.css");
@import url("./dirviewer.css");
@import url("./toolbar.css");
@import url("./addressbar.css");

#FileManager > div.body {
  display: flex;
  height: 100%;
  padding: 0;
}
