#FileManager div.file-dropper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--win-bg);
  border-radius: var(--win-border-rad);
  color: var(--fg);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  pointer-events: none;
}

#FileManager div.file-dropper img {
  height: 64px;
}

#FileManager div.file-dropper p {
  margin: 0;
}
